.container
    .row
        .five.columns.phone-two
            a(href="/")
                h1#title Last Ride In
        .one.columns.phone-one.offset-by-three
            a(href="/map")
                img(src="/images/map2.png")#map
        .two.columns.phone-one
            img(src="/images/#{route_id}.png"))

    for stop in stops
        .row.stopRow
            a(href="/route/#{agency_id}/#{route_id}/#{stop.stop_id}")
                div.stop
                    | #{stop.stop_name}
