.container
    .row
        .five.columns.phone-two
            a(href="/")
                h1#title Last Ride In
        .one.columns.phone-one.offset-by-three
            a(href="/map")
                img(src="/images/map2.png")#map
        .two.columns.phone-one
            a(href="/route/#{agency_id}/#{route_id}")
                img(src="/images/#{route_id}.png"))
    
    
    .row.heading
        a(href="javascript:showNorth();")
            .six.columns.phone-two
                .headingName.northHeading
                    p
                        | #{northHeading}
        a(href="javascript:showSouth();")
            .six.columns.phone-two
                .headingName.unselected.southHeading
                    p(align="right").hide-on-phones
                        | #{southHeading}
                    p.show-on-phones
                        | #{southHeading}


    - var d = new Date()
    - var utc = d.getTime() + (d.getTimezoneOffset() * 60000)
    - var now = new Date(utc + (3600000*(-4)))
    - var nowHour = now.getHours()
    - var nowMinute = now.getMinutes()
    - var nowDispMinute = (nowMinute < 10) ? '0' + nowMinute : nowMinute
    - var nowDispHour = (nowHour > 12) ? nowHour-12 : nowHour
    - nowDispHour = (nowHour == 0) ? nowDispHour + 12 : nowHour
    .row
        .currentTime
            | Current time : #{nowDispHour}:#{nowDispMinute}
    .row
        .upcomingTimes
            | Upcoming Trains:
    
    .northTimes
        if (northTimes)
            for time in northTimes
                - var time = time.substr(0,5)
                - console.log(time)
                - var hour = parseInt(time.substr(0,2))
                - var minute = parseInt(time.substr(3,2))
                - var dispMinute = time.substr(3,2)
                - if(hour > 24) hour -= 24
                .row.stopRow
                    - if (nowHour == hour && minute - nowMinute < 5)
                        - if(hour > 12) hour -= 12
                        .stop.soon
                            | #{hour}:#{dispMinute}
                    - else
                        - if(hour > 12) hour -= 12
                        .stop
                            | #{hour}:#{dispMinute}
        else
            .noTrains.row
                | No trains found :(

    .southTimes
        if (southTimes)
            for time in southTimes
                - var time = time.substr(0,5)
                - console.log(time)
                - var hour = parseInt(time.substr(0,2))
                - var minute = parseInt(time.substr(3,2))
                - var dispMinute = time.substr(3,2)
                - if(hour > 24) hour -= 24
                .row.stopRow
                    - if (nowHour == hour && minute - nowMinute < 5)
                        - if(hour > 12) hour -= 12
                        .stop.soon
                            | #{hour}:#{dispMinute}
                    - else
                        - if(hour > 12) hour -= 12
                        .stop
                            | #{hour}:#{dispMinute}
        else
            .noTrains.row
                | No trains found :(

